@import "@material/button/mdc-button";
@import "@material/textfield/mdc-text-field";
@import "@material/icon-button/mdc-icon-button";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/form-field/mdc-form-field";
@import "@material/checkbox/mdc-checkbox";
@import "@material/typography/mdc-typography";

$darker: #99ccff;
$lighter: #e6f2ff;
$gray: #626262;

body{
    margin: 0 0 0 0;
    background-color: $lighter;
    text-align: center;
    .mdc-top-app-bar{
      position: static;
      background-color: $darker;
      color: white;
    }
    h5, label{
      color: white;
    }
    h3{
      color: $gray;
    }
}

#containerLogin{
  margin-top: 7%;
  padding: 3%;
  margin-left: 29%;
  width: 35%;
  border: 3px solid white;
  border-radius: 25px;
  background-color: $darker;
  .username, .password{
    display: block;
    margin-top: 6%;
    @include mdc-text-field-ink-color(black);
    @include mdc-text-field-label-color($gray);
    @include mdc-text-field-bottom-line-color($lighter);
    @include mdc-text-field-line-ripple-color(white)
  }
  .mdc-form-field{
    margin-top: 5%;
    color: black;
    @include mdc-text-field-focused-outline-color(black);
  }
  .foo-checkbox{
    @include mdc-checkbox-container-colors(white,
    $darker, white, $darker, white);
    @include mdc-checkbox-ink-color(white);
    @include mdc-checkbox-focus-indicator-color(white);
  }
  .foo-button{
    display: block;
    margin-left: 42%;
    @include mdc-button-filled-accessible($lighter);
    span{
      color: $gray;
    }
  }
}

#containerCreate{
  .username, .phone, .address, .city, .state, .email, .name, .password{
    display: block;
    margin-top: 1%;
    margin-left: 25%;
    width: 50%;
    @include mdc-text-field-ink-color(black);
    @include mdc-text-field-label-color($gray);
    @include mdc-text-field-bottom-line-color($lighter);
    @include mdc-text-field-line-ripple-color(white);
  }
  .address, .city, .state{
    display: inline-block;
    width: 20%;
    margin-left: 0;
  }
  .foo-button{
    display: block;
    margin-left: 48%;
    margin-top: 2%;
    @include mdc-button-filled-accessible($darker);
    span{
      color: $gray;
    }
  }
}

@media only screen and (min-width: 321px) and (max-width: 1024px) {
  #containerCreate{
    .username, .phone, .address, .city, .state, .email, .name, .password{
      width: 90%;
      margin-left: 5%;
    }
    .address, .city, .state{
      width: 20%;
      margin-left: 0;
    }
  }
}

  /*
 smaller than or equal to 768 px (smartphones)
larger than 768 px (small devices, tablets)
larger than 992 px (medium devices)
larger than 1200px (large devices)
  */
  @media screen and (max-width: 1200px) {   .lDESKTOP { display: none; } }
 
  @media screen and (min-width: 1200px) {    .mDESKTOP { display: none; } }  
  @media screen and (max-width: 992px) {    .mDESKTOP { display: none; } }
  
  @media screen and (min-width: 992px) {    .sTABLET { display: none; } } 
  @media screen and (max-width: 768px) {    .sTABLET { display: none; } }
   
  @media screen and (min-width: 768px) {    .xsSMARTPHONE { display: none; } } 
