@import "@material/button/mdc-button";
@import "@material/textfield/mdc-text-field";
@import "@material/icon-button/mdc-icon-button";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/form-field/mdc-form-field";
@import "@material/checkbox/mdc-checkbox";
@import "@material/typography/mdc-typography";
@import "@material/chips/mdc-chips";

$darker: #012169;
$lighter: #e6f2ff;
$gray: #626262;

body{
    .logo{
        max-height: 100%;
    }
    margin: 0 0 0 0;
    background-color: $lighter;
    text-align: center;
    .mdc-top-app-bar{
      position: static;
      background-color: $darker;
      color: white;
    }
    h3, h4, p{
      color: $darker;
    }
    ul{
      list-style-type: none;
    }
    .modulo1, .modulo2, .modulo3{
      //display: none;
    }
    .modulo1{
        img{
            max-width: 30%;
        }
        .foo-button{
            background-color: $darker;
        }

    }
    .modulo2{
        img{
            max-width: 20%;
        }
    }
    .modulo3{

    }
}

#containerLogin{
  .username, .password{
    @include mdc-text-field-ink-color(black);
    @include mdc-text-field-label-color($gray);
    @include mdc-text-field-bottom-line-color($lighter);
    @include mdc-text-field-line-ripple-color(white)
  }
  .mdc-form-field{
    @include mdc-text-field-focused-outline-color(black);
  }
  .foo-checkbox{
    @include mdc-checkbox-container-colors(white,
    $darker, white, $darker, white);
    @include mdc-checkbox-ink-color(white);
    @include mdc-checkbox-focus-indicator-color(white);
  }
  .foo-button{
    @include mdc-button-filled-accessible($lighter);
    span{
      color: $gray;
    }
  }
}

#containerCreate{
  .username, .phone, .address, .city, .state, .email, .name, .password{
    @include mdc-text-field-ink-color(black);
    @include mdc-text-field-label-color($gray);
    @include mdc-text-field-bottom-line-color($lighter);
    @include mdc-text-field-line-ripple-color(white);
  }
  .foo-button{
    @include mdc-button-filled-accessible($darker);
    span{
      color: $gray;
    }
  }
}
/*
  smaller than or equal to 768 px (smartphones)
  larger than 768 px (small devices, tablets)
  larger than 992 px (medium devices)
  larger than 1200px (large devices)
*/
@media screen and (min-width: 992px) { // Desktop
  .modulo1, .modulo2, .modulo3 {
    display: block;
  }
}

@media screen and (min-width: 769px) and (max-width: 991px) { // Tablets
  .modulo3 {
    display: block;
  }
  .modulo1, .modulo2 {
    display: none;
  }
}

@media screen and (min-width: 100px) and (max-width: 768px) { // Mobile
  .modulo2 {
    display: block;
  }
  .modulo1, .modulo3 {
    display: none;
  }
}
