@import "@material/button/mdc-button";
@import "@material/textfield/mdc-text-field";
@import "@material/toolbar/mdc-toolbar";
@import "@material/icon-button/mdc-icon-button";
@import "@material/card/mdc-card";



.foo-button {
  @include mdc-button-ink-color(teal);
  @include mdc-states(teal);
}

body{
    text-align: center;
    
    background-color: lightblue;
    
    #container{
        
       background-color: white;
        display: block;
            margin: 5vh auto;
            margin-top: 1;
            width: 60%;
    
        .mdc-text-field{
            display: block;
            margin: 5vh auto;
            margin-top: 1;
            width: 70%;
        }
        
    }
    .mdc-toolbar{
            background-color: teal;
            display: block;
            margin: 5vh auto;
            width: 100%;

        }
    


}